<template name="postView">
  {{#contentFor "headerButtonLeft"}}

    {{>ionNavBackButton text="" icon="chevron-left" path="index"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{title}}</h1>
  {{/contentFor}}

  {{#if isMyPost}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" onclick="Router.go('/editPost/' + '{{_id}}')">Edit</button>
  {{/contentFor}}
  {{/if}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list card">

        {{#ionItem buttonRight=true avatar=true}}
          <img src="https://randomuser.me/api/portraits/thumb/men/27.jpg">

          <h2>{{title}}</h2>

        {{/ionItem}}

        <h5>
          {{body}}
        </h5>
        {{#if pic_is_taken}}
        <div class="item item-image">
          <img class="full-image" src="{{pic}}"/>
        </div>
        {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>