<template name="editPost">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="lists"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Edit Post</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div >
        <label type='stacked' class='item item-input item-stacked-label'>
          <span class='input-label'>Title</span>
          <input type='text' label-type='stacked' name='title' required value={{title}} />
        </label>
        <label type='stacked' class='item item-input item-stacked-label'>
          <span class='input-label'>Body</span>
          <textarea rows='6' label-type='stacked' name='body' required value={{body}}></textarea>
        </label>
      </div>

      {{#if pic_is_taken}}
        <div class="item item-image">
          <img class="full-image" src="{{get_pic}}"/>
        </div>
      {{else}}
        <div class="button-bar">
          <a class="button icon ion-android-camera">+</a>
        </div>
      {{/if}}

      <div class="button-bar">
        <a class="button icon ion-android-send button-positive">Submit</a>
      </div>
      
    {{/ionContent}}
  {{/ionView}}
  
</template>


