<template name="postView">
  {{#contentFor "headerButtonLeft"}}

    {{>ionNavBackButton text=" " icon="ios-list-outline" path="lists"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{title}}</h1>
  {{/contentFor}}

  {{#if isMyPost}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" onclick="Router.go('/editPost/' + '{{_id}}')">Edit</button>
  {{/contentFor}}
  {{/if}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list card">

        {{#ionItem buttonRight=true avatar=true}}
          {{#if authorId}}
            <img src="{{get_avatar_url_from_post this}}">
          {{else}}
            <img src="https://randomuser.me/api/portraits/thumb/men/27.jpg">
          {{/if}}

          <h2>{{title}}</h2>
        {{/ionItem}}

        <p>{{body}}</p>

        {{#if pic_is_taken}}
        <div class="item item-image">
          <img class="full-image" src="{{pic}}"/>
        </div>
        {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>