<template name="editPost">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="lists"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Edit Post</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

  {{#autoForm collection="Posts" id="edit-form" doc=this type="update"}}
      {{> afQuickField id='title' name='title'}}
      {{> afQuickField id='body' name='body'}}

        <div class="button-bar">
          <a class="button icon ion-android-send button-positive">Submit</a>
        </div>
      {{/autoForm}}
      
    {{/ionContent}}
  {{/ionView}}
  
</template>


