<template name="postUpdate">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "  }}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
      <h1 class="title">Update Post</h1>
  {{/contentFor}}


  {{#ionView}}
    {{#ionContent}}

      {{! > quickForm
        collection="Posts"
        doc=this id="postUpdateForm"
        type="update"
        template="ionic"
        omitFields="authorId"
      }}

      {{#autoForm
        collection="Posts"
        doc=this
        id="postUpdateForm"
        type="update"
        template="ionic"}}

        {{> afQuickField name='title' template="ionic"  }}
        {{> afQuickField name='body' rows=6 template="ionic" }}

        <div class="item">
            <img src={{image.url}} class="full-image">
        </div>

          <button type="submit" class="button button-block">保存</button>

      {{/autoForm}}


    {{/ionContent}}
  {{/ionView}}
</template>
