<template name="postList">
<!--{{#contentFor "headerButtonLeft"}}-->
    <!--{{>ionNavBackButton path="index"}}-->
        <!--{{/contentFor}}-->
	{{#contentFor "headerTitle"}}
      <h1 class="title">Lists</h1>
	{{/contentFor}}
	{{#contentFor "headerButtonRight"}}
      <!--<button class="button button-clear" onclick="alert('TODO')">Edit</button>-->

      <button class="button button-clear" id="showProfileMenu">
				{{#if currentUser}}
            Hi, {{currentUser.username}} <i class="icon ion-ios-person"></i>
				{{else}}
            <i class="icon ion-ios-person-outline"></i>
				{{/if}}
      </button>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			{{#ionList}}

				{{#each posts}}
            <div class="item item-post item-avatar item-icon-right" data-id="{{_id}}">
		            <h2>{{title}}</h2>

	            {{> ionIcon icon="chevron-right"}}

            </div>

				{{/each}}

			{{/ionList}}
		{{/ionContent}}
	{{/ionView}}
</template>
