
<template name="addPost">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="lists"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Add Post</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#autoForm collection="Posts" id="edit-form" type="insert"}}
        {{> afQuickField name='title'}}
        {{> afQuickField name='body'}}

        {{#if pic_is_taken}}
          {{#with picture}}
          <div class="list card">
            <div class="item item-image">
              <img class="full-image" src="{{this}}"/>
            </div>
          </div>
          {{/with}}
        {{else}}
          <div class="button-bar">
            <a class="button icon ion-android-camera">+</a>
          </div>
        {{/if}}

        <div class="button-bar">
          <a class="button icon ion-android-send button-positive">Submit</a>
        </div>
      {{/autoForm}}
      
    {{/ionContent}}
  {{/ionView}}
  
</template>